h1{
    color:gold;
font-family: sans-serif;
}
p{
  font-size: 15px;
  font-family: monospace;
}
body{
  background-color: #6F0000;
  color:#f9b384;

}
img{

  border: 2px solid #f1d1d1;
border-radius: 6px;
padding: 7px;
width: 250px;
height: 250px;
}

img:hover {
background-color: black;
}
.pasta{
  width:300px;
  height: 300px;
}
.dalchawal{
  width:300px;
  height: 300px;

}
